[BASIC]
app_name = lsfeye
host = 0.0.0.0
port = 8000
workers_count = 1
debug = true

[LOGURU]
path = /opt/log/lsfeye
filename = lsfeye.log
level = info
rotation = 500 MB
format = <level>{level: <8}</level> <green>{time:YYYY-MM-DD HH:mm:ss.SSS}</green> - <cyan>{name}</cyan>:<cyan>{function}</cyan> - <level>{message}</level>

[MYSQL]
scheme = mysql+aiomysql
host = 127.0.0.1
port = 3306
user = root
password = 111qqq```
db = lsfeye

[SCHEDULERLOCK]
host = 127.0.0.1
port = 8001

[INTERVALTRIGGER]  // unit: Seconds
bqueues = 10
bhosts = 10
lsload = 10

[ALARM]
open = true
notification_type = dingding
webhook = https://oapi.dingtalk.com/robot/send?access_token=1b0bbf3e503bac6c7911487406394ab097abda66f7dba7a54fc6a0cf3ffdd9b6
secret = SECbd6012abab9480ddb613165eaadd0db4476d6427bff16b8fab21a3e169983f57
