[BASIC]
app_name = lsfeye
host = 0.0.0.0
port = 8000
workers_count = 4
debug = true

[LOGURU]
path = /opt/log/lsfeye
filename = lsfeye.log
level = info
rotation = 500 MB
format = <level>{level: <8}</level> <green>{time:YYYY-MM-DD HH:mm:ss.SSS}</green> - <cyan>{name}</cyan>:<cyan>{function}</cyan> - <level>{message}</level>

[MYSQL]
scheme = mysql+aiomysql
host = 127.0.0.1
port = 3306
user = root
password = 111qqq```
db = lsfeye

[SCHEDULERLOCK]
host = 127.0.0.1
port = 8001

[INTERVALTRIGGER]  // unit: Seconds
bqueues = 3
